{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Перевозчики{% endblock %} :: Логист</title>
    <link rel="stylesheet" type="text/css" href="{% static 'carriers/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'carriers:index' %}">Перевозчики</a>
        <a href="{% url 'carriers:add' %}">Добавить перевозчика</a>
        <a href="">Справочная информация</a>
        <a href="">Профиль</a>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>
