<nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button"
     style="background: rgb(34,34,34);border-radius: 20;border-top-left-radius: 20;
     border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;
     border-style: none;padding-top: 0;padding-bottom: 10px;">
    <div class="container">
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div><a class="navbar-brand" href="#"><span>Creativarian </span> </a></div>
        <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
            <ul class="navbar-nav nav-right">
                <li class="nav-item"><a class="nav-link active" href="#" style="color: rgba(224,217,217,0.9);">Главная </a></li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" aria-expanded="false"
                       data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">База
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'carriers:index' %}">Мои Перевозчики</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_carrier' %}">Добавить Перевозчика</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_vehicle' %}">Добавить Транспортное средство</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_driver' %}">Добавить Водителя</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_organizational_type' %}">+ ОПФ</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_carrier_type' %}">+ Тип перевозчика</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_wheel_formula' %}">+ Колесная формула</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_vehicle_colour' %}">+ Цвет ТС</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_vehicle_type' %}">+ Тип ТС</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_trailer_brand' %}">+ Марка прицепа</a>
                        <a class="dropdown-item" href="{% url 'carriers:add_trailer_type' %}">+ Тип прицепа</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: rgba(224,217,217,0.9);">Календарь </a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: rgba(224,217,217,0.9);">FAQ </a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: rgba(224,217,217,0.9);">Контакты </a></li>
            </ul>
            <p class="ms-auto navbar-text actions">
                <a class="login" href="{% url 'carriers:login' %}" style="color: rgba(224,217,217,0.9);">Авторизация</a>
                <a class="btn btn-light action-button" role="button" href="{% url 'carriers:registration' %}"
                   style="color: rgba(0,0,0,0.9);background: var(--bs-gray-200);border-radius: 10px;
                   border-style: solid;border-color: rgba(0,0,0,0.9;font-size: 16px;padding: 5px 8px;)">Регистрация</a>
            </p>
        </div>
    </div>
</nav>
